@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,h2
{
	font-family: "Fraunces", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings:
	"SOFT" 0,
	"WONK" 0;

	color: #282f63;
	text-align: center;

}

p,a,h3,h4
{
	font-family: "Mulish", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;

	color: #282f63;

	padding-bottom: 2em;
}

h4
{
	text-align: center;
}

header
{
	width: 100vw;

	padding:1.5% 3.5%;


	background-color: white;


}

header .combinamajig
{
	width: 100%;
	height: 1.8rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img
{
	height: 100%;
}

header .links
{
	flex-basis: 35%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #666666;
}

header .links a
{
	font-weight: 700;
	text-decoration: none;
	padding: 0;

	transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

header .links a:visited
{
	color:#666666;
}

header .links a:hover
{
	color:#ee5a25;
	text-shadow: 0px 0px 1px #802909;
}



.layer1
{
	width: 93%;
	height: 100vh;

	padding:1% 2%;
	margin: auto;

	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: url(./img/layer1/img3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1 .container
{
	display: flex;
	flex-direction: column;
}

.layer1 h1
{
	font-size: 5em;
	color: #282f63;

	margin:0;
}

.layer1 h1:nth-child(2)
{
	
	margin-left: 10%;
}

.layer1 span
{
	color: #f37e53;

	animation: satglow 10s cubic-bezier(0.39, 0, 0.61, 1) infinite;
}

.layer1 h3
{
	width: 25%;
	text-align: center;
}

.layer1 .butt
{
	width: 60%;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 2%;
}

.layer1 .butt button
{
	border: none;

	padding:1rem 4rem;
	margin: 1%;

	border-radius: 8px;

	color: white;

	transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.layer1 .butt .buy
{
	background: #f37e53;
}

.layer1 .butt .buy:hover
{	background: #ee5a25;
	outline: 4px solid #7b91f5;
}

.layer1 .butt .explore
{
	background: #7b91f5;
}

.layer1 .butt .explore:hover
{	background: #3743a0;
	outline: 4px solid #f37e53;
}

.imgs
{
	margin: auto;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;

	align-content: center;
}

.imgs .item
{
	width: 100%;
}

.imgs .item img
{
	width: 100%;

	transition: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.imgs .item img:hover
{
	transform: scale(1.03);
}

.imgs .item .txt h4
{
	text-align: center;
}


.layer2
{
	padding: 4% 3.5%;
	margin: 2% 0;
}


.layer3
{
	padding: 4% 3.5%;
	margin: 2% 0;
	background: #eef0f9;
}


.layer4
{
	padding: 4% 3.5%;
	margin: 2% 0;

	display: flex;
	flex-direction: column;
}


.layer5
{
	padding: 4% 3.5%;

	background: #2a2c32;
	color: #fafafa;

	display: flex;
	flex-direction: column;
}

.layer5 h2,.layer5 h4
{
	color: #fafafa;
}



.layer6
{
	padding: 4% 3.5%;
}

.layer6 .container 
{
	display: flex;
	justify-content: space-evenly;

	background: url(./img/layer6/img20.png);
	border-radius: 16px;
}

.layer6 .container .text
{

	flex-basis: 25%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

}

.layer6 .container .text h2
{
	font-size: 2em;
}

.layer6 .container .text h4,.layer6 .container .text h2
{
	padding: 2% 0;
	text-align: left;
}

.layer6 .container .text button
{
	border: none;

	padding:1rem 4rem;
	margin: 1%;

	border-radius: 8px;

	color: white;
	background: #f37e53;

	transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.layer6 .container .text button:hover
{
	background: #ee5a25;
	outline: 4px solid #7b91f5;
}

.layer6 .container .img
{
	display: flex;
}

.layer7
{
	width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2%;
	padding-bottom: 0;

	background: url(./img/layer7/img23.png);
	background-size: cover;
}

.layer7 hr
{
	width: 100%;
}

.layer7 .linetext
{
	width: 98vw;

	overflow: clip;
}

.animbox
{
	display: flex;
	flex-direction: row;

	animation: linetext 10s cubic-bezier(0.39, 0, 0.61, 1) infinite alternate;
}

.layer7 .linetext p
{
	white-space: nowrap;
	padding: 2%;
	margin: 0;

	font-size: 2rem;
}

.layer7 .container
{
	width: 80%;

	padding-top: 1em;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;

}

.layer7 .container .links
{
	white-space: nowrap;

	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5% 4vw;

}
.layer7 .container .links a
{
	text-decoration: none;

	transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.layer7 .container .links a:hover
{
	color:#ee5a25;
	text-shadow: 0px 0px 1px #802909;
}

.layer7 .container .write
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 50%;
	flex-basis: 70%;

	padding: 1em 3em;
	background: #ffffff;
	border-radius: 9px;
}

.layer7 .container .write p
{
	padding-bottom: 0;
	margin-right: 1em;
}

.layer7 .container .write button
{
	padding: 0.5em 3em;
	

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	flex-grow: 0.1;

	border: 0;
	border-radius: 9px;

	color: white;
	background: #282f63;

	transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.layer7 .container .write button:hover
{
	background: #3743a0;
	outline: 4px solid #f37e53;
}

.layer7 .footer
{
	height: 5vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.layer7 .footer p
{
	padding: 0;
}

@keyframes linetext 
{
	0%
	{
		transform: translateX(-90%);
	}	
	100%
	{
		transform: translateX(-10%);
	}
}

@keyframes satglow 
{
	0%
	{}	
	50%
	{
		filter: saturate(1.2);
		text-shadow: 0px 0px 10px #ee5a2570;
	}
	100%
	{}
}

.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
	"SOFT" 0,
	"WONK" 1;
}

.frauncesuw {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
	"SOFT" 0,
	"WONK" 0;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 425px) 
{

	header
	{
		height: auto;
		padding: 1.5% 0 ;
	}

	header .combinamajig
	{

		width: 100%;
		height: 10vh;
		flex-direction: column;
	}

	header .combinamajig img
	{
		object-fit: contain;
		height: 60%;
	}

	header .combinamajig .links
	{
		display:  grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		gap: 0.5em 0;

		margin: auto;

		width: 90%;
		font-size: 1.2em;
	}

	header .combinamajig .links a
	{
		width: fit-content;
	}


	.layer1
	{
		justify-content: space-evenly;
	}

	.layer1 .container h1
	{
		font-size: 3em;
		margin: 0;
	}

	.layer1 .container span
	{
		font-size: 2em;
	}

	.layer1 h3
	{
		font-size: 1.3em;
		width: 80%;	
	}

	.imgs
	{
		grid-template-columns: 1fr;
	}


	.layer4
	{
		height: auto;
	}


	.layer6 .container
	{
		justify-content: center;
	}

	.layer6 .img,.layer6 img
	{
		display: none;
	}


	.layer6 .container .text
	{
		align-items: center;
	}

	.layer6 .container .text h4,.layer6 .container .text h2
	{
		text-align: center;
	}


	.layer7 .img
	{
		height: 30%;
	}

	.layer7 .container
	{
		flex-direction: column;
		width: 100%;
	}

	.layer7 .container .links
	{
		grid-template-columns: auto auto auto;
	}

	.layer7 .container .links a
	{padding-bottom: 1em;}

	.layer7 .container .write
	{
		width: 100%;
		margin: 1em 0;
		padding: 1em 2em;
	}

	.layer7 .container .write p
	{
		padding-bottom: 0;
	}


}

@media screen and (max-width: 375px) 
{
	header .combinamajig .links
	{
		width: 95vw;
	}
}